@tailwind base;
@tailwind components;
@tailwind utilities;


.trpc-playground {
  --primary-color: #2596be;
  --primary-color-triplet: 37, 150, 190;
}

.cm-editor {
   height: 60vh;
}

.cm-scroller {
   overflow: auto;
}


.scroll::-webkit-scrollbar {
   width: 12px;
   height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: rgba(var(--primary-color-triplet), 0.4);
}
