@tailwind base;
@tailwind components;
@tailwind utilities;

.trpc-playground {
    --primary-color: #191919;
    --secondary-color: #1e1e1e;
    --primary-color-triplet: 25, 25, 25;
    --secondary-color-triplet: 30, 30, 30;
}

body {
    margin: 0;
}

.cm-editor {
    height: 100%;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--primary-color-triplet), 0.4);
}