@tailwind base;
@tailwind components;
@tailwind utilities;

.trpc-playground {
    --primary-color: #0e0e0e;
    --secondary-color: #151515;
    --primary-color-triplet: 14, 14, 14;
    --secondary-color-triplet: 21, 21, 21;
}

body {
    margin: 0;
}

.cm-editor {
    height: 100%;
    width: 100%;
}

.scroll::-webkit-scrollbar {
    width: 12px;
    height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(var(--primary-color-triplet), 0.4);
}